<form method="post">
    <label class="form-label">Introduce el nombre de usuario</label>
    <input name="usuario"  class="form-control"/>
    <label class="form-label">
        Introduce Contraseña
    </label>
    <input type="password" name="password" class="form-control" />
    <button class="btn btn-info">Entrar</button>
</form>