    <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Generos
          </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        @foreach(Genero genero in Model)
        {
            
            <li><a class="dropdown-item" href="#">@genero.Nombre</a></li>
        }
        </ul>
        
